@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Roboto:wght@400;500&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #172A3A;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 125px;
    background-color: #F8E109;
    color: #172A3A;
    font-family: Roboto;
}

nav, footer {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #172A3A;
    text-align: center;
    padding: 40px;
}

a {
    text-align: center;
}

nav a:hover {
    color: #F8E109;
    background-color: #004346;
}

.logo {
    width: 150px;
    margin-top: 5px;
}

.logo:hover {
    transform: scale(1.1)
}

h1, h2, h3, h4 {
    font-family: Roboto;
}

#logo-link {
    margin-right: auto;
}

.top-title{
    font-size: 2em;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: right;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    margin-top: 30px;
}

.amd-card {
    grid-column: 2/3;
    text-align: center;
    color: white;
}

.intel-card {
    grid-column: 4/5;
    text-align: center;
    color: white;
}

.card-img {
    width: 100%;
    border: 10px solid #004346;
    margin-bottom: 12px;
    margin-top: 15px;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

footer {
    background-color: #004346;
    color: white;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding: 15px;
}

footer p a {
    color: white;
}

footer a:hover {
    color: #F8E109;
}

p {
    padding: 20px;
}

.home-head {
    text-align: center;
    font-size: 2em;
}

/* Specifications Page */

.spec-info {
    margin: 20px;
}

.spec-title {
    text-align: center;
}

.spec-build {
    background-color: #004346;
    padding: 20px;
    font-size: .9em;
}

.build-img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid #AAAAA0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/* Tutorial Page */

.tutorial-title {
    text-align: center;
}

.tutorial-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 10px solid #AAAAA0;
    margin-bottom: 70px;
    margin-top: 40px;
}

.tutorial-img:hover {
    opacity: .7;
    transform: scale(1.1);
}

.tutorial-content {
    padding: 20px;
    background-color: #004346;
}

iframe {
    display: block;
    margin: 0 auto;
}

.youtube {
    width: 560px; 
    height: 315px; 
    border: 0;
}

.list{
    padding: 20px;
}